* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #027141;
}

.card {
  margin: 1%;
  width: calc(18%);
}

.player-card {
  width: calc(55%);
  margin-top: 3rem;
}
.player-card:first-child {
  margin-right: -5%;
  transform: rotate(-10deg);
}
.player-card:last-child {
  margin-left: -5%;
  transform: rotate(10deg);
}

.community-cards {
  margin: 3rem auto 0 auto;
  width: 80%;
}

.player-cards {
  margin: 0 auto 0 auto;
  width: 40%;
  bottom: 0%;
}

.button {
  border-radius: 0.5rem;
  background: #212121;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 1.2rem;
  display: block;
  margin: 1.2rem auto;
  outline: none;
}

h1 {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1.2rem auto;
  text-align: center;
}
