* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #027141;
}

.card {
  margin: 1%;
  width: calc(18%);
}

.community-cards {
  margin: 3rem auto 0 auto;
  width: 80%;
}

.button {
  border-radius: 0.5rem;
  background: #212121;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 1.2rem;
  display: block;
  margin: 1.2rem auto;
  outline: none;
}
